# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Production/build
/dist/
# build/

# Vite cache
.vite/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace

# Testing
coverage/

# Misc
.cache/
*.tgz

# Lockfiles (keep if you want deterministic installs)
# package-lock.json
# pnpm-lock.yaml
# yarn.lock
