body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: none;
}

.tilt {
    transform-style: preserve-3d;
    transition: transform .18s ease, box-shadow .18s ease;
    will-change: transform;
}

.tilt {
    transform: perspective(1000px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg)) translateZ(var(--tz, 0px))
}

.tilt:hover {
    box-shadow: 0 18px 40px rgba(2, 6, 23, .12)
}


.gallery-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.img-container {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.img-container-circle {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
}


